
body{ background-color: white;}
.container{ text-align: center;}
 
 .placeholder{text-align: right;
font-size: 60px;}
 
 #box{ width: 320px;
border-radius: 10px;
box-shadow: inset 5px 5px 3px grey,inset -5px -5px 3px white;

}
.clc{background: rgb(236, 4, 4);
padding: 10px;
display: inline-block;
border-radius: 15px;
}
input{ 
font-size: 30px;
width: 70px;
height: 60px;
margin: 5px;
border-radius: 50px;
border: none;
box-shadow: 5px 5px 3px;
 background: rgb(105, 211, 224);

}
input:hover{
    box-shadow: inset 5px 5px 3px grey,inset -5px -5px 3px white; 
}

.i{
    background-color: orange;
}
.i:hover{ box-shadow: inset 5px 5px 3px rgb(175, 218, 18),inset -5px -5px 5px rgb(197, 231, 6);}